<?xml version="1.0" encoding="UTF-8"?>
<suite name="Full Suite" parallel="none" verbose="1">

    <listeners>
        <listener class-name="listeners.TestNGListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="tests.LoginTest"/>
       
        </classes>
    </test>

</suite>
